@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

body {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

/*Code for main heading bellow*/

header {
    width: 100%;
    color: hsl(300, 43%, 22%);
    text-align: center;
}

header h1 {
    font-size: 2rem;
    padding: 20% 10% 5%;
}

header p {
    padding: 2.5% 2.5% 5%;
    font-weight: 400;
    line-height: 1.5rem;
}

/*Code for star reviews bellow*/
.container-stars {
    width: 100%;
    margin-bottom: 15%;
}

.container-stars div {
    width: 100%;
    max-width: 30rem;
    height: 5rem;
    border-radius: 0.5rem;
    display: inline-flex;
    margin: 1.25rem auto;
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container-stars ul {
    width: 10rem;
    text-align: center;
}

.container-stars ul li {
    display: inline;
    list-style: none;
    padding: 0 2%;
}

/*Code for comment reviews bellow*/

.container-reviews {
    width: 100%;
    background-image: url(images/bg-pattern-bottom-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.review {
    max-width: 25rem;
    max-height: 18.5rem;
    padding: 7.5% 6.5%;
    margin: 5% auto;
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.5rem;
}

.review div {
    display: flex;
    flex-flow: column center;
    align-items: center;
    margin-bottom: 12.5%;
}

.review h4 span {
    font-weight: 400;
    color: #a86094;
}

.container-reviews h4 {
    padding-left: 10%;
    line-height: 1.5rem;
}

.container-reviews h4,
.container-reviews p {
    color: hsl(300, 24%, 96%);
}

.container-reviews img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.container-reviews p {
    line-height: 1.5rem;
}

@media only screen and (min-width: 650px) {
    .container {
        padding: 7.5% 7.5%;
    }

    /*Code for main heading bellow*/
    header {
        text-align: left;
        max-width: 30rem;
    }

    header h1,
    header p {
        padding: 0 0;
    }

    header p {
        padding-top: 5%;
    }

    header h1 {
        font-size: 3rem;
    }

    /*Code for star reviews bellow*/
    .container-stars {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .container-stars div {
        margin: 0.5rem 0;
        flex-direction: row;
        align-items: flex;
        height: 3.75rem;
    }

    .container-stars .star-review {
        margin-right: 6%;
    }

    .container-stars .star-report {
        margin-right: 3%;
    }
    
    /*Code for comment reviews bellow*/
    .container-reviews {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container-reviews .review {
        margin: 2.5% 0;
        padding: 5% 5%;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        margin-bottom: 7.5%;
    }

    .container {
        position: relative;
        padding: 6rem;
        padding-bottom: 0;
        background-image: url(images/bg-pattern-top-desktop.svg);
    }

    .container-stars {
        position: absolute;
        top: 6rem;
        right: 6rem;
        margin: 0;
    }

    .container-stars div {
        max-width: 31.5;
        padding-right: 2.5%;
    }

    .container-reviews {
        margin: 3.5% 0 0;
        z-index: 1;
        background-image: url(images/bg-pattern-bottom-desktop.svg);
    }

    .container-reviews .review {
        padding: 3.75% 3%;
    }

    .container-reviews .Irene {
        margin-top: 3.75%;
    }

    .container-reviews .Anne {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1440px) {
    header {
        margin-bottom: 2.5%;
    }

    .container-reviews {
        justify-content: space-between;
    }

    .container-stars .star-review {
        margin-right: 12%;
    }

    .container-stars .star-report {
        margin-right: 6%;
    }
}
